
.booklist {
    width: 90vw;
    max-width: 1170px;
    margin: 3rem auto;
    display: grid;
    gap: 2rem;
  }
  
  @media screen and (min-width: 768px) {
    .booklist {
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
    }
  }
  .book {
    background: #fff;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    position: relative;
  }
  .book img {
    width: 100%;
    object-fit: cover;
  }
.book .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .book .title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
  }
  
  .book h4 {
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    letter-spacing: 2px;
  }
  .book p {
    margin: 1rem 0 0.5rem;
  }
  h1 {
    text-align: center;
    margin-top: 1rem;
    text-transform: capitalize;
  }
  
  .book button {
    background: #49a6e9;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
  }
  
  .book button:hover {
    background-color: #0056b3;
  }
  
  .book button:active {
    background-color: #003f7f;
  }
  .book .more-info {
    display: "flex";
    gap: "10px";
    justify-content: center;
    margin-top: 0.5rem;
  }
  .book .number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #ce7545;
  color: #fff;
  }