*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
  =============== 
  Navbar
  ===============
  */
  /* add :not(.nav-logo) to img */
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    z-index: 2;
    height: 4rem;
    display: flex;
    align-items: center;
  }
  .nav-icons {
    display: none;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-toggle {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    cursor: pointer;
    transition: var(--transition);
  }
  .nav-toggle:hover {
    transform: scale(1.2);
  }
  .nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: var(--clr-grey-1);
    cursor: pointer;
    font-size: 1rem;
  }
  .nav-link:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-8);
    padding-left: 2.25rem;
  }
  /* nav toggle functionality */
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links {
    height: 280px;
  }
  /* nav at bigger screen size */
  @media screen and (min-width: 992px) {
    /* hide nav toggle button */
    .nav-toggle {
      display: none;
    }
    /* show links */
    .nav-links {
      height: auto;
      display: flex;
    }
    .nav-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* optional */
      flex-wrap: wrap;
    }
    .nav-header {
      padding: 0 0;
    }
    .nav-link {
      padding: 0 0;
    }
    .nav-link:hover {
      padding: 0;
      color: var(--clr-primary-5);
      background: transparent;
    }
    .nav-icons {
      display: flex;
    }
  
    .nav-link {
      margin-right: 0.7rem;
    }
    .nav-icon {
      margin-right: 0.7rem;
      color: var(--clr-primary-5);
      font-size: 1.2rem;
      transition: var(--transition);
    }
    .nav-icon:hover {
      color: var(--clr-primary-8);
    }
  }


  
  /*
  =============== 
  Footer
  ===============
  */
  .footer {
    background: var(--clr-grey-1);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer-links,
  .footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
  .footer-link {
    color: var(--clr-white);
    text-transform: capitalize;
    font-size: 1rem;
    margin-right: 1rem;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }
  .footer-link:hover {
    color: var(--clr-primary-5);
  }
  .footer-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--clr-white);
    transition: var(--transition);
  }
  .footer-icon:hover {
    color: var(--clr-primary-5);
  }
  .copyright {
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    color: var(--clr-white);
  }
  .copyright span {
    margin-left: 0.5rem;
  }